.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1451934403379-ffeff84932da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2142&q=80)');
    background-attachment: fixed;
    background-position: center;
}

.all-properties-container {
    width: 95%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-container h1 {
    font-size: 2rem;
    width: 35%;
    padding: 1%;
    text-align: center;
    margin: 10% 0;
    background-color: whitesmoke;
    opacity: .8;
}

.price-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-div h2 {
  font-size: 1.8rem;
  margin: 1%;
}

.price-div h3 {
  font-size: 1.6rem;;
}

.price-btn {
  width: 15%;
}

.listing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    width: 50%;
    margin: 2% 1%;
    align-self: flex-start;

}

.listing-container a {
    width: 30%;
    margin: 3%;
}

.listing-container h2 {
  margin: 2%;
  width: 80%;
  font-size: 1.8rem;
  padding-bottom: 1%;
  border-bottom: 3px solid #333
}

.listing-container .property-sub {
  font-size: 1.6rem;
  width: 80%;
  text-align: center;
}

.add-listing-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.add-listing-container h2 {
  width: 80%;
  padding-bottom: 2%;
  border-bottom: 3px solid #333;
  font-size: 1.8rem;
  margin: 2%;
}


.add-listing-container h3 {
  font-size: 1.6rem;
  width: 80%;
  text-align: center;
}

.all-properties-container a {
  color: black;
}

.all-properties-container a:hover {
  text-decoration: none;
  color:black
}

.toggle-add {
  font-size: 1.6rem;
  margin: 1%;
  padding: 1%;
}

.listing-container h3 {
  font-size: 1.6rem;
}


.card-img {
  background-image:url('https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  width: 100%;
  padding: 35%;
}

@media (max-width: 800px) {
  .img-container h1 {
    width: 50%;
  }

  .listing-container {
    /* flex-flow: column; */
    width: 85%;
  }

  .listing-container a {
    width: 35%;
  }

  .add-listing-container {
    width: 85%;
  }

  .price-div .price-btn {
    width: 35%;
  }
}

@media (max-width: 500px) {
  .listing-container a {
    width: 50%;
  }

  .add-listing-container button {
    width: 35%
  }
}