.edit-form {
    width: 50%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form h1 {
    font-size: 2rem;
}

label {
    font-size: 1.8rem;
    width: 95%;
}

.form-group {
    width: 50%;
}

.form-control {
    font-size: 1.5rem;
}

.edit-btn-group {
    width: 60%;
}

.edit-btn-group .save-btn,
.edit-btn-group .cancel-btn{
    font-size: 1.8rem;
    margin: 1%;
    width: 45%
}


@media (max-width: 800px) {
    .edit-btn-group {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .edit-form {
        width: 70%;
    } 
}
