.edit-form {
    width: 50%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 2rem;
    width: 95%;
}

.form-group {
    width: 50%;
}

.form-control {
    font-size: 1.5rem;
}

.edit-btn-group {
    width: 60%;
}

.edit-btn-group .save-btn,
.edit-btn-group .cancel-btn{
    font-size: 2rem;
    margin: 1%;
    width: 45%
}
