.home-container {
    background-image: url('https://images.unsplash.com/photo-1451934403379-ffeff84932da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2142&q=80)');
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    padding: 20%;
}

.welcome-container {
    background-color: whitesmoke;
    opacity: .8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

a {
    font-size: 4rem;
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: none;
    color: black; 
}
