h2 {
  text-align: center;
}


form {
  margin-top: 5%;
  text-align: center;
}

form label {
  text-align: left;
}


.form-group {
  margin: 0 auto;
}

.form-group label {
  width: 100%;
}

.form-group input {
  width: 400px;
  margin: 3% 0;
}

.errorText {
  font-size: 2rem;
}
