.price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.predictor-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke
}

.price-form {
    width: 65%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 1%; 
}

.predictor-container {
    margin-bottom: 2%;
}

.predictor-container .card-title {
    width: 70%;
    font-size: 2rem;
    text-align: center;
}

.form-group {
    margin: 0 0 1% 1%;
    padding: 1%;
    width: 50%
}

.form-group label {
    width: 95%;
    font-size: 1.6rem;
    font-weight: bold;
}

.price-form .form-row .form-group {
    width: 90%
}

.btn-group {
    width: 15%;
    margin: 1%;
}

@media (max-width: 800px) {
    .price-form {
        width: 100%;
    }

    .price-form .form-row .form-group {
        width: 100%
    }

    .predictor-container {
        width: 60%;
    }

    .predictor-container .card-title {
        width: 85%;
    }
}
