.form-container hr {
  border-top: 3px solid black;
  margin: 4%;
  width: 50%
  
}
.register-form {
    width: 50%;
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    text-align: left;
    font-size: 2rem
  }

form .btn {
    font-size: 2rem;
  }
  
.form-group {
    margin: 0 auto;
  }



 
  