.form-container hr {
  border-top: 3px solid black;
  margin: 4%;
  width: 50%
  
}
.register-form {
    width: 50%;
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    text-align: left;
    font-size: 1.8rem
  }

form .btn {
    font-size: 1.8rem;
  }
  
.form-group {
    margin: 0 auto;
  }

  @media (max-width: 800px) {
    .login-form .form-group {
      width: 60%;
    }
  }
  
  @media (max-width: 500px) {
    .register-form {
      width: 80%;
      margin: 10% 0;
    }
    .register-form .form-group {
      width: 70%;
    }
  
    .register-form .btn {
      width: 30%
    }
  }



 
  